<h1> Start your day on a good note!</h1>
<nav class ="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
     
      <li class="nav-item">
      
         <button> <a routerLink="/newnotes" > Notes List</a>  </button> 
      </li>
      <li class="nav-item">
       
         <button> <a routerLink="/createnotes" > Add Notes</a>  </button> 
      </li>
      <!-- <li class="nav-item">
      
         <button> <a routerLink="/getnotes" >getNotes</a>  </button> 
      </li> -->
    </ul>
  </nav>
  
 
  <div class="container">
   <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div class="container">
      <span>All Rights Reserved</span>
    </div>
  </footer>
  
